.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

[class*="col-"] {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1 { flex-basis: 8.333%; }
.col-xs-2 { flex-basis: 16.667%; }
.col-xs-3 { flex-basis: 25%; }
.col-xs-4 { flex-basis: 33.333%; }
.col-xs-5 { flex-basis: 41.667%; }
.col-xs-6 { flex-basis: 50%; }
.col-xs-7 { flex-basis: 58.333%; }
.col-xs-8 { flex-basis: 66.667%; }
.col-xs-9 { flex-basis: 75%; }
.col-xs-10 { flex-basis: 83.333%; }
.col-xs-11 { flex-basis: 91.667%; }
.col-xs-12 { flex-basis: 100%; }

@media only screen and (min-width: 769px) {
  .col-sm-1 { flex-basis: 8.333%; }
  .col-sm-2 { flex-basis: 16.667%; }
  .col-sm-3 { flex-basis: 25%; }
  .col-sm-4 { flex-basis: 33.333%; }
  .col-sm-5 { flex-basis: 41.667%; }
  .col-sm-6 { flex-basis: 50%; }
  .col-sm-7 { flex-basis: 58.333%; }
  .col-sm-8 { flex-basis: 66.667%; }
  .col-sm-9 { flex-basis: 75%; }
  .col-sm-10 { flex-basis: 83.333%; }
  .col-sm-11 { flex-basis: 91.667%; }
  .col-sm-12 { flex-basis: 100%; }
}

@media only screen and (min-width: 1281px) {
  .col-md-1 { flex-basis: 8.333%; }
  .col-md-2 { flex-basis: 16.667%; }
  .col-md-3 { flex-basis: 25%; }
  .col-md-4 { flex-basis: 33.333%; }
  .col-md-5 { flex-basis: 41.667%; }
  .col-md-6 { flex-basis: 50%; }
  .col-md-7 { flex-basis: 58.333%; }
  .col-md-8 { flex-basis: 66.667%; }
  .col-md-9 { flex-basis: 75%; }
  .col-md-10 { flex-basis: 83.333%; }
  .col-md-11 { flex-basis: 91.667%; }
  .col-md-12 { flex-basis: 100%; }
}
