body, #hdtbSum, #appbar, .f6F9Be, .sbhl, .sfbg, .jZWadf, .Lj9fsd, .s8GCU, .gb_Qb>.gb_Pb:hover, .gb_Qb>.gb_Pb:focus, .gb_xb.gb_xb:hover, .gb_xb.gb_xb:focus, .I6TXqe, .cv2VAd, .kLhEKe, .MGqjK, .rl_item_base, g-inner-card, .dr1yeb, .HskPDe, .Z8r5Gb, .u8H8Fd, .CTk6ee .Peu1Oc, .CTk6ee > .bsrbZb, .rlc__slider, div.rl_feature, .rlc__slider-page, .vk_c {
  background-color: #141414!important;
  border-color: #333!important;
  color: #ddd!important;
}

#hdtb, .f6F9Be, .b2hzT, .RNNXgb, .gb_Mb, .gb_Fb, .kp-blk, .cbphWd, .lgJJud, .EASEnb, .AUiS2, .cEPPT, .F9PbJd, .zthhpf, .nChh6e, .I6TXqe, .HSryR a.B1uW2d, .SzZmKb + div, .wwfboe.naFSC, .VjDLd .cLjAic:not(:last-child) .mFVw3b, .cv2VAd, .MGqjK, .VibNM, .ellip, .y8Jpof.pPLc9e.kpQuGf, .nm6nmc.l0jSyf.kpQuGf, .GHuRVb, .jhg04d, .LhCR5d, .HErFVb, .qmv19b, .EPLo7b, .qIshu, .StR8Re, .KjyTCd, .jA1nid, .eEz1Rd, .QsV5nc .olSdv, .MOq6jc, .VuHq7, .e03FQd, .gKlQt, .bfhlTd, .webanswers-webanswers_table__webanswers-table tr, .rl_center {
  border-color: #333!important;
}

.gLFyf, .gb_l .gb_pb, .gb_4b, .sbl1p, .sbl1, .med, .mfMhoc, .iKt1P, .f3LoEf, .EZRelc, .wUrVib, .iUh30, .eJ7tvc, .F9PbJd, .JSAgYe, .o44hBf, .WGvvNb, .SPmIAf, .w6PoOe, .ELcVZ .lg3aE, .w8qArf .fl, .mDj5wd, .Ss2Faf, .Eegi6c, .jleFbf, .hDeAhf, .rl_item_base .title, .k4DMHe .xXEKkb, .wqg8ad, .IZACzd, .Mz7Vzb, .lQ6Auc, .yF4Rkc, .dZH8qf, .xt8Uw, .BP43u, .VJwspe, .OZ8wsd, .fUflyc, .PVsnzc, .esuhec, .Peu1Oc, .bsrbZb, .Z0LcW, .ztXv9 th, .kxbc {
  color: #ddd!important;
}

.RNNXgb, .gb_F, .aajZCb, .kp-blk, .lgJJud, .F9PbJd, .zthhpf, .lV0vqc, .LhCR5d, .HErFVb, .E6Cqjb, .YPxNKd {
  background-color: #262626!important;
}

.gb_g, .b0KoTc, #SIvCob, #SIvCob a, #SIvCob a:visited, #footer a, .Ywxp6b {
  color: #ababab!important;
}

.gb_vc.gb_D {
  background-color: #ababab!important;
}

.gNO89b, .RNmpXc, .gb_vb.gb_vb, .gb_zb.gb_zb, .gb_Hb.gb_Hb, .gb_Wb.gb_Zb, .MXl0lf, .H73aad, .WGYX8, .KPV9xf, .FAl3Ic {
  background: #313131!important;
  color: #ddd!important;
  border-color: transparent!important;
}

a { color: #0A89F8!important; }
a:visited { color: #095ea7!important; }

.XCKyNd, .z1asCe svg, .YIMUJb {
  filter: brightness(0) invert(1)!important;
}

.BA0A6c {
  background-color: #fff!important;
}

.cF4V5c g-menu-item a {
  color: #222!important;
}

.u8H8Fd {
  box-shadow: none;
}

.rl_item {
  border-width: 1px;
}
